 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

 html, body, #root {
  /* height: 100%; */
  /* overflow: hidden; */
} 


header ul li{
  @apply px-3;
}
.mobile-nav{
  @apply fixed top-10 w-full h-1/3 bg-slate-800 left-0 p-3 gap-2;
}
.mobile-nav  li{
  @apply w-full h-full text-center border-b-2   ;
}
.project-design{
  @apply absolute left-0 right-0 bottom-0 top-0 py-5 px-2 bg-blue-950 h-[210px] w-[340px] opacity-0 duration-500 hover:opacity-100
}
.bttn{
  @apply bg-blue-700 px-3 py-2 border-2  border-blue-700 hover:border-white 
}
html{
  scroll-behavior: smooth;
}